<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.springboot.kiosk.mapper.IOrderMapper">
  	<!-- 주문하기 -->
  	<insert id="order">
  		INSERT INTO kiosk.order_tbl
		(foodCode, totalCnt, totalPrice, type, tableNum)
		VALUES(#{foodCode}, #{totalCnt}, #{totalPrice}, #{type}, #{tableNum});
  	</insert>
  	
  	<!-- 테이블넘버 조회하기 -->
  	<select id='getTableNums' resultType='int'>
  		SELECT tableNum
		FROM kiosk.order_tbl
		GROUP BY tableNum
  	</select>
  	
  	<!-- 테이블넘버로 주문내역 조회하기 -->
  	<select id='getOrderListBytableNum' resultType='OrderByTblNumDTO'>
  		SELECT ot.orderCode, ot.tableNum, ot.totalPrice, ot.totalCnt, ot.type, ft.name, ft.foodCode
		FROM kiosk.order_tbl ot, food_tbl ft
		WHERE ot.tableNum = #{param1} and ot.foodCode = ft.foodCode 
  	</select>
  	
  	<!-- 카카오페이로 결제시 state 변경 -->
  	<update id='updateState'>
  		UPDATE kiosk.order_tbl
		SET state = 1
		WHERE tableNum = #{param1};
  	</update>
  	
  	<!-- 결제 완료시 재고, 판매량 수정 -->
  	<update id='updateInvenSales'>
  		UPDATE kiosk.food_tbl
		SET inventory = inventory - #{param2}, sales = sales + #{param2}
		WHERE foodCode=#{param1};
  	</update>
  </mapper>