@charset "UTF-8";

#menu_tbl_thead{
	cursor: pointer;
}

h3{
	text-align: center;
}

#menu_tbl{
	width: 860px;
	height: 100px;
	
}
#menu_tbl_thead th{
	width: 150px;
	font-size: 30px;
	cursor: pointer;
}
.menu_tbl_box{
	width: 856px;
	height: 700px;
	background-color: #C7221E;
	margin-top: -5px;
	margin-right: 20px;
	margin-left: 2px;
	padding-top: 10px;
	
}
#background{
	width: 796px;
	height: 500px;
}
#menu_tbl_2{
	background-color: white;
	margin-left: 10px;
	text-align: center;
}
#menu_tbl_2 td{
	height: 40px;
	font-size: 18px;
}
#addCart{
	width: 80px;
	height: 30px;
}
#menu_img{
	width: 193px;
}
#menu_tbl_thead{
	border-radius: 40px, 40px;
}
#menu_tbl_thead th{
	border-radius: 30px 30px 0px 0px;
}
#menu_tbl_2{
	border-spacing: 3px;
}
section{
	display:flex;
	border: 3px solid black;
}
.menu_section{
	margin-left: 150px;
}
.order_section{
	width: 800px;
	height: 500px;
	background-color: lightcoral;
	margin-top: 96px;
}
#cart_tbl{
	width: 700px;
	text-align:center;
	margin-left: auto;
	margin-right: auto;
	font-size: 30px;
}
#cnt{
	width: 40px;
}