@charset "UTF-8";

section{
	display: flex;
	/* border: 2px solid red; */
	width: 1000px;
	margin: 0 auto;
	text-align: center;
}
h2{
	line-height: 80px;
	height: 80px;
}
#listBox{
	width: 900px;
	height: 800px;
	border: 1px solid black;
	margin-left: 50px;
}
#foodList{
	width: 650px;
	margin: 0 auto;
	border-collapse: collapse;
}
#foodList th, #foodList td{
	height: 40px;
	border-bottom: 1px solid black;
}
#foodList th{
	background-color: lightgray;
}
